.wrapper {
    display: flex;
    justify-content: space-around;
    background: #fff;
    border-radius: 20px;
    margin-bottom: 1rem;
    cursor: pointer;
    align-items: center;
    transition: all .3s;
}

.wrapper p {
    width: 20%;
    text-align: center;
}

.wrapper:hover {
    transform: scale(1.03);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}