.container {
    padding-inline: 4rem;
    display: flex;
    padding-top: 6rem;
    position: relative;
}

.itemWrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.priceWrapper {
    width: 40%;
}

.itemHeader {
    display: flex;
    background: #fff5f0;
    justify-content: space-between;
    align-items: center;
    padding-block: .7rem;
    padding-left: 3rem;
    padding-right: 1.5rem;
    width: 100%;
    border-radius: 20px;
    font-size: .8rem;
    margin-top: 5rem;
}

.labelWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    width: 60%;
}

.label {
    text-align: center;
}

.label p {
    color: #a38b84;
}

.priceWrapper {
    position: fixed;
    padding: 1rem 2rem;
    width: 25%;
    margin-left: 67%;
    background: #fff5f0;
    border-radius: 20px;
    height: 60%;
    margin-top: 5rem;
}

.priceContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payBtn {
    width: 100%;
    padding-top: .8em;
    padding-bottom: .8em;
    background-color: #4c4bb5;
    text-transform: none;
    font-size: 1rem;
    border-radius: 30px;
    margin-top: 3rem;
}

.shippingInput {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.shippingContainer {
    width: 70%;
    align-self: center;
}

.shippingContainer h2 {
    margin-top: 3rem;
}

.durationWrapper {
    width: 100%;
}

.durationWrapper span {
    font-size: .7rem;
    margin: 0;
    color: #a38b84;
}

.durationWrapper p {
    margin: 0;
    font-weight: bold;
}

.durationHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}