.backdrop {
    width: 100%;
    height: 95rem;
    background-color: #FFF5F0;
    border-radius: 70px;
    margin-block: 13rem;
    z-index: 1;
    position: absolute;
}

.container {
    width: 100%;
    padding-inline: min(10%, 10rem);
    z-index: 2;
    position: relative;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 15rem;
}

.firstRow {
    display: flex;
    gap: 1.5rem;
}

.banner {
    width: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.banner img {
    border-radius: 20px;
}

.bannerContent {
    margin-top: -50%;
    margin-left: 2rem;
    z-index: 3;
    width: 40%;
}

.bannerFull {
    width: 100%;
    border-radius: 20px;
    height: 25rem;
}

.bannerFullImg {
    position: relative;
    width: 100%;
    height: 100%;
}

.bannerFullImg img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}