.header {
    height: 5rem;
    display: flex;
    padding-block: 1rem;
    padding-inline: min(10%, 10rem);
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 3;
    justify-content: space-between;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: .3rem;
    width: min(80%, 40rem);
}

.searchInput {
    height: 100%;
    width: min(90%, 30rem);
    left: 1.5rem;
    border-radius: 10px;
}

.btn {
    height: 100%;
    border-radius: 10px !important;
    font-size: 1.1rem !important;
    text-transform: none;
}

.btnLogout {
    border-radius: 15px;
    text-transform: none;
}

.registerBtn {
    background-color: #4c4bb5;
}

.badge {
    display: flex;
    padding-block: .3rem;
    font-size: 1rem;
}

.LoginRegisterBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15rem;
}

.img {
    height: 100%;
}

.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}