.container {
    width: 100%;
    padding-inline: 10rem;
    display: flex;
    padding-top: 6rem;
    gap: 4rem;
}

.sideNav {
    width: 15rem;
}

.divider {
    padding-block: 1rem;
}

.main {
    width: 100%;
}