.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.progress {
    width: 40%;
}

.ArrowBtn {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.ArrowBtn span {
    font-size: .8rem;
    margin-right: 1rem;
}

.card {
    margin-right: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    width: 20%;
}

.chip {
    background-color: #F6F7FB;
    color: #3071E7;
    font-weight: 600;
}