.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.title p {
    font-size: 1.5rem;
    color: #3071E7;
    font-weight: 100;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .8rem;
    transition: all .1s;
}

.title p:hover {
    gap: 1rem;
}

.ArrowBtn {
    display: flex;
    gap: 1rem;
}

.card {
    margin-left: 1.6rem;
}

.skeletonCarousel {
    display: flex;
    gap: 3rem;
}